html {
	background-color: #E8F2F0;
}


header {
	background-color: #5EE5CA;
}

nav {
	background-color: #5EBDE5;
}

article {
	background-color: #5E79E5;
}

section {
	background-color: #865EE5;
}

aside {
	background-color: #CA5EE5;
}

footer {
	background-color: #E55EBD;
}

